<%= title "Account Deletion" %>

<% content_for :top_nav do %>
  <%= render partial: "layouts/primary_top_nav" %>
<% end %>

<div class="flex relative flex-col flex-1 justify-between items-center h-full bg-grey-50 dark:bg-[#0f171b] pt-safe-area-header pb-safe-area-bottom-navbar">
  <div class="flex flex-col items-center bg-cover bg-bottom bg-no-repeat max-h-[430px] w-full">
    <div class="z-10 flex flex-col items-start w-full px-5 pt-6 pb-12 max-w-screen-sm">
      <h1 class="text-2xl italic font-bold text-red">Delete your account</h1>
      <p class="mb-4 text-sm font-normal text-gray-400 dark:text-lightcolor">Follow these steps to permanently delete your account from our platform:</p>
      <ol class="mb-4 text-gray-700 list-decimal list-inside dark:text-lightcolor">
        <li>
          <%= link_to 'Sign in to your account', new_user_session_path, class: 'text-blue-600 underline hover:text-blue-800' %>.
        </li>
        <li>Go to your <strong>Profile</strong> page.</li>
        <li>Click on <strong>Delete Account</strong> at the bottom of the page and confirm your choice.</li>
      </ol>
      <p class="text-xs text-gray-400 dark:text-lightcolor">Please note: This action is irreversible. All your data will be permanently removed and cannot be recovered.</p>
    </div>
  </div>
</div>
