<h1>Profile</h1>

<h2>My QR Code</h2>

<%= render inline: qr_code_svg(@profile) %>
<br>

<!-- Save QR -->
<%= link_to 'Save QR Code', profile_qr_code_path(@profile.uuid), method: :get %>
<br>
<br>

<!-- Share QR -->
<div data-controller="qr">
  <button id="shareQR" data-action="click->qr#share" data-qr-target="button" data-url="<%= profile_qr_code_path(@profile.uuid) %>">
    Share
  </button>
</div>
<br>

<!-- Open Camera -->
<h3>Scan a code</h3>
<input type="file" accept="image/*" capture="capture">
