<%# locals: (session:) %>

<% if session.live? %>
  <div class="h-8 px-4 py-6 bg-green-500 rounded-t-lg bg-opacity-[.08] dark:bg-opacity-10 justify-center items-center inline-flex">
    <div class="flex items-center justify-center h-4 gap-2 grow basis-0">
      <span class="relative flex w-4 h-4">
        <span class="absolute inline-flex w-full h-full bg-green-500 rounded-full opacity-75 animate-slow-ping"></span>
        <span class="w-4 h-4 bg-green-500 rounded-full"></span>
      </span>
      <span class="w-full text-xs dark:text-lightcolor">Session is live now.</span>
    </div>
  </div>
<% elsif session.starting_soon? %>
  <div class="h-8 px-4 py-6 bg-yellow rounded-t-lg bg-opacity-[.08] dark:bg-[#e2943a33] justify-center items-center inline-flex">
    <div class="flex items-center justify-center h-4 gap-2 grow basis-0">
      <span class="relative flex w-4 h-4">
        <span class="w-4 h-4 rounded-full bg-yellow"></span>
      </span>
      <span class="w-full text-xs dark:text-lightcolor">Session is starting soon.</span>
    </div>
  </div>
<% elsif session.past? %>
  <div class="inline-flex items-center justify-center h-8 px-4 py-6 rounded-t-lg bg-bluegray-50 dark:bg-[#182027]">
    <div class="flex items-center justify-center h-4 gap-2 grow basis-0">
      <span class="relative flex w-4 h-4">
        <span class="w-4 h-4 rounded-full bg-bluegray-200"></span>
      </span>
      <span class="w-full text-xs dark:text-[#798691]">Session is over.</span>
    </div>
  </div>
<% end %>
