<h1>Reset Your Password</h1>

<%= form_with model: @user, url: password_reset_path do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.submit "Reset password" %>
  </div>
<% end %>
