<div class="flex flex-col items-center flex-1 h-screen px-5 pb-10 bg-purple-dark dark:bg-[#0f171b] pt-safe-area-header">
  <div class="flex flex-col justify-between h-full pt-10 max-w-screen-sm">
    <div class="flex flex-col w-full mb-6">
      <h1 class="mb-4 text-4xl italic font-black text-white">Check your inbox</h1>
      <p class="font-bold text-white">We've sent you a link to recover your password to the email you provided.</p>
    </div>

    <%= link_to "Return to login", new_user_session_path, class: "w-full bg-red py-4 text-white text-center font-black italic rounded-[10px] uppercase" %>
  </div>
</div>
