<%= title "Coming soon" %>

<div class="flex flex-col items-center flex-1 px-5 py-10 bg-purple-dark dark:bg-[#0f171b]">
  <%= inline_svg_tag("main_logo_with_date.png", class: "w-full mt-14") %>

  <div class="flex flex-col items-center justify-center flex-1">
    <div class="flex items-center justify-center w-[120px] h-[120px] mb-6 rounded-full bg-purple-light dark:bg-[#131b21]">
      <%= inline_svg_tag("flame.svg", class: "w-14 h-14") %>
    </div>
    <h1 class="mb-6 text-[34px] leading-10 italic font-black text-center text-white">
      We’re cooking <br> something special
    </h1>
    <p class="text-base font-bold text-center text-white">Come back soon!</p>
  </div>

  <p class="text-base font-normal text-center text-white">
    Designed and developed by<br><a class="font-bold" href="https://www.teloslabs.co/" target="_blank">Telos Labs<a>
  </p>
</div>
