<div class="field-wrapper relative flex flex-col grow pb-2 md:pb-0 leading-tight h-full min-h-14 field-wrapper-size-regular field-width-regular field-wrapper-layout-inline md:flex-row md:items-center" data-field-id="<%= input_name %>" data-field-type="boolean" data-resource-edit-target="isPublicBooleanWrapper">
  <div class="pt-4 flex self-start items-center flex-shrink-0 w-48 px-6 uppercase font-semibold text-gray-500 text-sm h-full md:pt-0 md:h-14 md:w-64" data-slot="label">
    <%= form.label input_name, for: "profile_#{input_name}" %>
  </div>
  <div class="flex-1 flex flex-row md:min-h-inherit px-6 py-2" data-slot="value">
    <div class="self-center w-full  md:w-8/12 has-sidebar:w-full ">
      <div class="h-8 flex items-center">
        <%= form.check_box input_name,
                           class: "text-lg h-4 w-4 checked:bg-primary-400 focus:checked:!bg-primary-400 rounded",
                           name: "user[profile_attributes][#{input_name}]" %>
      </div>
    </div>
  </div>
</div>
