<div class="flex flex-col items-center flex-1 p-5">
  <div class="flex flex-col items-start flex-1 w-full max-w-screen-sm">
    <h1 class="mb-6 text-[34px] mb-4 font-bold italic">Notifications</h1>
    <h2 class="text-[23px] mb-4 font-bold italic">Recent</h2>
    <div class="flex flex-col w-full gap-4">
      <%= render(
        partial: "notification",
        collection: @notifications,
        as: :notification
      ) %>
    </div>
    <h2 class="text-[23px] mb-4 font-bold italic mt-10">Past</h2>
    <div class="flex flex-col w-full gap-4">
      <%= render(
        partial: "notification",
        collection: @notifications,
        as: :notification
      ) %>
    </div>
  </div>
  <div class="flex flex-col items-start w-full max-w-screen-sm">
    <div class="flex flex-col items-center w-full mt-10 mb-10">
      <%= link_to 'Notification settings', notifications_settings_path, class: "text-red font-bold  text-center rounded-sm underline italic text-lg" %>
    </div>
    <div class="w-full bg-red rounded-[10px] p-4 text-lg font-black text-white cursor-pointer italic items-center text-center">
      CLEAR ALL
    </div>
  </div>
</div>
