<div class="bg-blue-marine font-karla flex flex-col items-center px-5 pt-6 pb-10">
    
    <div class="max-w-screen-sm text-center font-normal">
        <p class="text-base mb-6 text-white">Brought to you by</p>
        <%= inline_svg_tag "telos_labs_logo.svg", class: "mb-10 w-full" %>
        <p class="text-white text-lg mb-6">We designed and developed this open-source app for the Rails community, you can contribute to the repo here.</p>
        <p class="text-white text-lg mb-10">Telos creates disruptive, purpose-driven software for visionary clients to enhance productivity and enrich lives.</p>
        <div class="flex flex-row w-full items-center gap-5">
            <div class="grow bg-blue-teal rounded-[10px] p-4 flex flex-row items-center justify-center">
                <%= inline_svg_tag "icon_web.svg", class: "w-6 h-6" %>
            </div>
            <div class="grow bg-blue-teal rounded-[10px] p-4 flex flex-row items-center justify-center">
                <%= inline_svg_tag "icon_linkedin.svg", class: "w-6 h-6" %>
            </div>
        </div>
    </div>
</div>
<div class="bg-blue-marine-light py-10 px-5">
    <div class="max-w-screen-sm text-center font-normal">
        <h2 class="text-white">
            Credits
        </h2>
    </div>
</div>