<div class="u-w-full">
  <div class="container">
    <h1 class="title">
      Reset your password
    </h1>

    <p class="c-paragraph">
      Hello,
      <br><br>
      we're sending you this email because you requested a password reset.
      <br><br>
      Click on the button to create a new password:
      <br><br>

      <%= link_to "Create new password", edit_password_reset_url(token: params[:token]), class: "c-button" %>
      <br>

      If you didn't request a password reset, you can ignore this email.
    </p>
  </div>

  <div class="c-footer">
    <span class="u-text-center">
      <%= image_tag url_for("main_logo.png"), class: "c-footer-img" %>
    </span>
  </div>
</div>
