@tailwind base;
@tailwind components;
@tailwind utilities;

div.field_with_errors > label {
  @apply mb-2 italic font-bold text-red;
}

div.field_with_errors > input {
  @apply w-full bg-transparent border-2 border-red
  rounded-md text-white placeholder:text-white/50
  focus:bg-white focus:text-black focus:placeholder-grey-300
  focus:border-white focus:ring-white mb-2
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Pagy */
.pagy {
  @apply inline-flex gap-x-2;

  a,
  .current {
    @apply inline-flex items-center px-2.5 py-1 text-lg font-medium rounded-md;
  }

  .current {
    @apply text-white bg-red;
  }

  .gap {
    @apply px-0;
  }
}
