.d-hotwire-native-none {
  display: none !important;
}

.d-hotwire-native-inline {
  display: inline !important;
}

.d-hotwire-native-block {
  display: block !important;
}

.top-safe-area-no-filters {
  top: calc(env(safe-area-inset-top) + 177px) !important;
}

.top-safe-area-with-filters {
  top: calc(env(safe-area-inset-top) + 209px) !important;
}

.pt-safe-area-back-button {
  padding-top: calc(env(safe-area-inset-top)) !important;
}

.native-safe-area-2 {
  padding-top: calc(env(safe-area-inset-top)) !important;
}

.native-mt-0 {
  margin-top: 0 !important;
}