<div class="container">
  <h1 class="title">Your bookmarked session is starting now</h1>
  <div class="c-event-card">
    <div class="c-event-card__speaker">
      <div class="c-event-card__speaker-img">
      </div>
      <div>
        <div class="c-event-card__speaker-title">Melia Antiqua</div>
        <div class="c-event-card__speaker-subtitle">CTO, Bionis, Inc.</div>
      </div>
    </div>
    <div class="c-event-card__title">
      Level up performance with simple coding changes
    </div>
    <div class="c-event-card__tags">
      <div class="c-event-card__tags-tag">Front-end</div>
      <div class="c-event-card__tags-tag">Tailwind</div>
      <div class="c-event-card__tags-tag">CSS</div>
    </div>

    <div class="c-event-card__description">
      This presentation will first highlight some of the major improvements Bionis, Inc. has achieved using straightforward Ruby techniques and her approach to solving technical problems centers around ensuring the continued stability and extensibility for individual developers and companies large and small.
    </div>

    <div class="c-event-card__time">
      <div class="c-event-card__time-icon">
      </div>
      <div class="c-event-card__time-item">
        Thursday, Sept 26
      </div>
    </div>

    <div class="c-event-card__time">
      <div class="c-event-card__time-icon">
      </div>
      <div class="c-event-card__time-item">
        18:00 - 20:00
      </div>
    </div>

    <div class="c-event-card__time">
      <div class="c-event-card__time-icon">
      </div>
      <div class="c-event-card__time-item">
        Alabama Arena
      </div>
    </div>
  </div>
</div>
<div class="c-footer">
  <span>RAILS WORLD</span>
</div>