<div class="flex flex-col items-center justify-center w-full h-full gap-6">
  <div class="flex items-center justify-center w-32 h-32 bg-white rounded-full">
    <%= inline_svg_tag "icons/no_wifi.svg", size: "56", class: "fill-gray-400" %>
  </div>
  <h1 class="text-4xl italic font-black text-gray-800">You're offline</h1>
  <p class="text-base font-bold text-center">Check your connection <br> and try again.</p>
  <%= link_to(
    'Refresh the page', "",
    class: "text-red font-bold  text-center rounded-sm underline italic text-lg"
  ) %>
</div>
