<div class="relative flex items-center justify-center w-full pb-2 bg-white pt-safe-area-1">
  <%= link_to "javascript:history.back()", class: "absolute left-0 flex items-center py-2 pl-5" do %>
    <%= inline_svg_tag("icons/chevron_left.svg", size: "24", class: "fill-red") %>
    <span class="ml-1 text-lg italic font-black text-red">Back</span>
  <% end %>
  <p class="text-lg font-medium"><%= back_title %></p>
</div>
