<%# locals: (message:) %>

<div class="flex flex-col items-center justify-center fixed bottom-[64px] pb-safe-area-1 w-full z-30 px-5">
  <div data-controller="closable" class="bg-black/70 shadow-simple backdrop-blur-[25px] rounded-lg px-5 py-4 transition-all bottom-0 max-w-screen-sm text-white z-20 sticky">
    <%= message %>
  </div>
</div>
