<div class="flex justify-center w-full py-6 mx-auto border-b border-b-white bg-purple-dark sticky top-0 z-50">
  <div class="flex max-w-screen-sm px-5">
    <%= link_to homepage_link do %>
      <%= inline_svg_tag("main_logo.svg", class: "w-full") %>
    <% end %>
  </div>
</div>
