<div class="sticky top-0 z-30 flex justify-center w-full py-6 mx-auto border-b border-b-white bg-purple-dark">
  <div class="flex max-w-screen-sm px-5">
    <%= link_to root_path(
                  starts_at: current_starts_at_filter,
                  anchor: session_anchor(current_agenda_session)
                ) do %>
      <%= inline_svg_tag("main_logo.svg", class: "w-full") %>
    <% end %>
  </div>
</div>
