<header class="flex justify-center w-full pb-6 mx-auto border-b pt-safe-area-6 border-b-white bg-purple-dark dark:bg-[#182027] dark:border-[#182027]">
  <div class="flex px-5 max-w-screen-sm">
    <%= link_to(
      root_path(
        starts_at: current_starts_at_filter,
        anchor: session_anchor(current_agenda_session)
      )
    ) do %>
      <%= inline_svg_tag("main_logo.svg", class: "w-full h-[30px]") %>
    <% end %>
  </div>
</header>
