<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* Email styles need to be inline */

      *{
        font-family: Roboto;
      }

      .u-w-full{
        width: 100%;
      }

      .u-text-center{
        text-align: center;
      }

      .body{
        display: flex;
        flex-direction: column;
      }
      .container{
        max-width: 382px;
        margin: 0 auto;
        flex-grow: 1;
      }

      .title{
        color: black;
        font-size: 23px;
        font-weight: 700;
        margin-bottom: 24px;
      }

      .c-event-card{
        background-color: white;
      }

      .c-event-card__speaker{
        display: flex;
        flex-direction: row;
        margin-bottom: 16px;
        align-items: center;
      }

      .c-event-card__speaker-img{
        width: 48px;
        height: 48px;
        border-radius: 100%;
        margin-right: 20px;
        background-color: gray;
      }

      .c-event-card__speaker-title{
        font-size: 16px;
        font-style: italic;
        font-weight: 900;
        line-height: 20px;
        color: #CB0C1C;
      }

      .c-event-card__speaker-subtitle{
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
      }

      .c-event-card__title{
        font-size: 20px;
        font-style: italic;
        font-weight: 900;
        line-height: 24px;
        margin-bottom: 16px;
      }

      .c-event-card__tags{
        display: flex;
        flex-direction: row;
        margin: -8px;
        margin-bottom: 6px;
      }

      .c-event-card__tags-tag{
        display: flex;
        padding: 6px 12px;
        justify-content: center;
        align-items: center;
        margin: 8px;
        border-radius: 8px;
        border: 1px solid #829ECE;
        color: #829ECE;
      }
      .c-event-card__tags-tag > *{
        color: #829ECE;
        font-size: 13px;
      }

      .c-event-card__description{
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        color: #1C1C1E;
        margin-bottom: 16px;
      }

      .c-event-card__time{
        display: flex;
        flex-direction: row;
        margin-bottom: 12px;
      }

      .c-event-card__time-icon{
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }

      .c-event-card__time-item{
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
      }

      .c-footer{
        width: 100%;
        background-color: #432463;
        height: 72px;
        min-height: 72px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: white;
        margin-top: 24px;
        padding: 24px;
      }

    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>

  <body class="body">
    <%= yield %>
  </body>
</html>
